{% extends 'base.html' %}

{% block title %}{{ drug.name }}{% endblock %}

{% block main %}
</div>
{% for section in label.section_set.all %}
<div style="background: white; padding: 20px">
<p style="background-color:white;color: darkred;font-size: 15px ">
<strong >{{ section.title }}.</strong></p><br> <p style="background-color:white;color: black; font-size: 14px">
    {{ section.text }}
</p>
</div>
    <div class="container">
            <p class="copyright">
                <a href="http://dx.doi.org/10.1093/nar/gkw993" target="_blank">Citing DrugCentral</a> &#169; <span id="copyright-year">{% now "Y" %}</span>.
                <a href="{% url 'privacy' %}">License</a>

            </p>
        </div>
{% endfor %}

{% endblock %}
{% block overview %}{% endblock %}
