<script type="text/javascript" src="/autocomplete.js"></script>
{% if image %}
<section class="cont-wr2">
<div class="container text-center banner">
<div style="display:inline-block;vertical-align:top;margin-top:5px;margin-right:30px">
<p class="fw-b" style="color: white; font-size:20px "><a style="color: blue; cursor: pointer"
                                                         href="{% url 'about' %}" target="_self">{{ DRUG_COUNT }}</a></p>
<h2 class="starfont2" style="color: white">Drugs</h2>
<p style="font-size:15px;color:white; margin-top: 25px;"><a style="color: blue; cursor: pointer" href="{% url 'about' %}">
    {{ PHARMACEUTICAL_COUNT }}</a><br>pharmaceuticals</p>
</div>
<a style="vertical-align:top;" href="{% url 'drugcard-view' image.id %}">
<img class="rotatemolecule" src="{% url 'drug-image' image.id %}" title="{{ image.name }}" />
</a>
<br>
{% else %}
<section class="cont-wr2" style="height:135px">
<div class="container text-center banner">
{% endif %}
<form class="search-form" action="/substructure?" method="GET">
<div class="autocomplete">
<input class="search-form_input1" type="text" name="m" id="m" value="{{ m }}" placeholder="Enter: Substructure in SMILES format"/>
</div><span style=""> Substructure SMILES Example: <a style="color: white;" href="/substructure?m=n1cnccc1"> n1cnccc1 </a> </span>
<span class="search-form_liveout"></span>
<button class="search-form_submit" type="submit"></button>
</form>
</div>
</section>
