




 <head>

    <style>

    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DrugCentral REDIAL 2020</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <!-- Navigation -->


    <!-- Check if the smiles is submitted -->
    <style>

.copy:hover
{
    color: red;
    background-color:white;
}

</style><script>
function target_popup(form) {
    window.open('', 'formpopup', 'height=600,width=1000,left=500,top=350,location=no,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');
    form.target = 'formpopup';setTimeout('detail.focus()', 1);
}</script>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="span7 offset1">
         <form enctype="multipart/form-data" action="https://unmtid-apps.net/index2.php" method="POST" onsubmit="target_popup(this);">

            <div class="row">
              <div class="span3">
                <div class="well">
                    <label class="control-label"><p></p><h4><font color="#616D7E">Provide an Input string: </font></h4><p></p></label>
                    <input class="span2" type="text" name="smiles" size="40" placeholder="Enter: Drug, SMILES, PubChem CID">

                    <h5>
                        Some Examples:  <a href="#" class="copy">CC(=O)OC1=CC=CC=C1C(=O)O</a> |
                        <a href="#" class="copy">Remdesivir</a> |
                        <a href="#" class="copy">121304016</a>
                    </h5>

                    <button name="submit" type="submit" style="padding: 4px 10px" value="smiles" class="btn btn-inverse"><i class="icon-play"></i><b>SUBMIT</b></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

<!-- Function for copying text in input box -->
    <script>
            $(document).on('click', '.copy', function(e){
                e.preventDefault(); //for <a>
                $('.span2').val($(this).text());
            });
    </script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

  </body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90288404-1', 'auto');
  ga('send', 'pageview');

</script>








